{% extends "base.html" %}

{% block content %}

<header class="masthead" style="background-image: url('https://i2.wp.com/storage.googleapis.com/stateless-watchilove-com/2022/09/dbe6bcf1-sbgx353_kv_1-e1664001241678-1024x576.jpg?ssl=1')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Sign up!</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.username.label }}
    {{ form.username }}
    {{ form.password.label }}
    {{ form.password }}
    <br/>
    {{ form.submit }}
</form>

<!-- <main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h3>Enter your details below</h3>
                <div class="my-5">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username"
            </div>
            <div class="mb-3">
                <label for="emailaddress" class="form-label">Email Address</label>
                <input type="emailaddress" class="form-control" id="emailaddress" name="emailaddress" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button class="btn btn-primary text-uppercase" ="submit" class="btn mb-4">Sign Up</button>
        </form>
    </div>
</div> -->

{% endblock %}