{% extends "base.html" %}

{% block content %}

<header class="masthead" style="background-image: url('https://i2.wp.com/storage.googleapis.com/stateless-watchilove-com/2022/09/dbe6bcf1-sbgx353_kv_1-e1664001241678-1024x576.jpg?ssl=1')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Sign in!</h1>
                </div>
            </div>
        </div>
    </div>
</header>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a class="nav-link" href="{{ url_for('signup') }}">Don't have an account? Sign up here!</a>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h4>Enter username and password </h4>
                <div class="my-5">
                    <form name="addForm" id="addForm" method="POST" action="{{ url_for('login') }}" data-sb-form-api-token="API_TOKEN">
                        <!-- Username -->
                        <div class="form-floating">
                            <input class="form-control" type="text" placeholder="Username" name="username" id="username" data-sb-validations="Please enter your username." />
                            <label for="username">Username</label>
                        </div>
                        <!-- Password -->
                        <div class="form-floating">
                            <input class="form-control" type="password" placeholder="Password" name="password" id="password" data-sb-validations="Please enter your password." />
                            <label for="password">Password</label>
                        </div>                        
                        <br />
                        </div>
                        <!-- Submit Button -->
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}